<h1>Web Engineering Client</h1>
<br>
<p>User Options:</p>
<a href="/user/create">Create a user</a><br>
<a href="/user/delete">Delete a user</a><br>
<a href="/user/get">Search for a user</a><br>
<a href="#">Return all users</a><br>
<a href="#">Get public key of a user</a><br>
<br><br>
<p>Messaging:</p>
<a href="/message/post">Write a message</a><br>
<a href="/message/get">Fetch messages</a><br>